Package: GueeRecorder
Version: 1.0.0
Section: video
Priority: optional
Depends: libqt5x11extras5, libxinerama1, libglx-mesa0, libxfixes3, libfaac0, libxcomposite1
Suggests: Openssl
Architecture: amd64
Installed-Size: 66666
Homepage: http://www.loongson.xyz/Articles/Content/18
Maintainer: guee @ guee#guee.net
Description: 屏幕录像程序，高效地合成多种图像元素，提供预览/编辑界面调整各种图像元素的大小和位置。图像元素支持全屏幕、屏幕区域、窗口、摄像头、图像文件等，并支持调整图像颜色，在录制的过程中也可以随时增删和调整。可以同时录制电脑播放的声音，和麦克风声音，在录制的过程中可以随时打开或关闭它们。录像的结果可以保存为mp4或flv文件，视频和音频都可以调整编码相关的参数。
