[Desktop Entry]
Comment[zh_CN]=高效率的录屏软件，可以融合多种图像元素，编码为视频文件。
Version=1.0.0
Name=Guee Recorder
Name[zh_CN]=Guee录屏机
GenericName=Guee Recorder
GenericName[zh_CN]=Guee录屏机
Exec=/opt/apps/net.guee.recorder/files/GueeRecorder
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;Qt;
Keywords=screen recorder;screencast;live streaming;gr;
Icon=GueeRecorder
InitialPreference=3
